################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackathonPorto/HackatonPortosWeb/node_modules
/HackathonPorto/.vs/HackathonPortos/v15
