<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<div class="container">

    <div class="row">
        <div class="col-6">
          <h1 style="color:rgb(22, 177, 29)">BTP:CODE</h1>
        </div>
        <div class="col-1">
          <a routerLink="navio" class="nav-link" routerLinkActive="active">
          <i class="far fa-bell" style="color: rgb(148, 148, 148)"></i>
          </a>
        </div>
        <div class="col-1">
          <a routerLink="escalas" class="nav-link" routerLinkActive="active">
            <i class="fas fa-users-cog" style="color: rgb(148, 148, 148)"></i></a>
        </div>
        
    </div>
</div>

  <router-outlet></router-outlet>
