<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Nome</label>
          <input type="text" class="form-control" formControlName="NOME_EVENTO" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Causa</label>
          <input type="text" class="form-control" formControlName="CAUSA_EVENTO" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Descrição</label>
          <input type="text" class="form-control" formControlName="DESCRICAO_EVENTO" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Tipo de Entrada</label>
          <input type="text" class="form-control" formControlName="TIPO_ENTRADA" />
        </div>
        <div class="form-group">
            <label class="col-md-4">Data Ocorrência</label>
            <input type="text" class="form-control" formControlName="DATA_OCORRENCIA_EVENTO" />
          </div>
        
        <div class="form-group">
          <button (click)="addEvento(angForm)" class="btn btn-primary">Adicionar</button>
        </div>
      </form>
    </div>
  </div>

